@import "tailwindcss";

:root {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

h1, h2, h3 {
  font-family: var(--font-serif), serif;
}

* {
  font-family: var(--font-sans), sans-serif
}